== present('Event').event_creator(event)
== present('Event').event_name(event)
== present('Event').periodicity(event)
== present('Event').text(event)
= present('Event').edit_link(event, current_user)
=< present('Event').delete_link(event, current_user)
hr
